$lightGreen: #A7E862;
$darkGreen: #83B64C;
$yellow: #F2FF1F;
$blue: #00579A;
$lightGrey:#EDEDED;

$primaryColor: #FD2804;
$secondaryColor: #927A46;
$white: #FFFFFF;
$black: #000000;
$orange: #FEA918;

$none: 0px;
