.footer{
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  height:$line-height-computed;
  #footer-container{
    height:100%;
    line-height:$line-height-computed;
    -webkit-box-shadow: 0px -2px 5px 0px $darkGreen;
    -moz-box-shadow: 0px -2px 5px 0px $darkGreen;
    box-shadow: 0px -2px 5px 0px $darkGreen;
    background-color:rgba($white, 0.8);
    .footer-inner{
      padding-left:$line-height-computed;
      padding-right:$line-height-computed;
      text-align:right;
      color:$black;
      a{
        color: $yellow;
      }
    }
  }
}
