.notification{
  padding:$line-height-computed/2;
  background-color: rgba($darkGreen, 0.8);
  color:$white;
  &.unread{
    background-color:rgba($blue, 0.8);
    color:$white;
  }
  a{
    color:$yellow;
    text-decoration: none !important;
  }
  .notification-title{
    margin-bottom:$line-height-computed/2;
  }
}

.notification-listing{
  .notification{
    a{
      color:$white;
    }
  }
}
